<div class="wrapper">
  <h1>Stupid Coaching</h1>

  <div class="input-area your-input">
    <p><%= @question %></p>
    <p>-you</p>
  </div>

  <div class="input-area coach-input">
    <p>
    <% if @question == "I am going to work" %>
      <%= "Great!" %>
      <% elsif @question.include? "?" %>
        <%= "Silly question, get dressed and go to work!!" %>
      <% else %>
      <%= "I don't care, get dressed and go to work!" %>
    <% end %>
    </p>
    <p>-Your coach</p>
  </div>

  <%= link_to "Ask a new question", ask_path %>
</div>
